.breed-select {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  height: 30px;
  font-size: large;
  box-shadow: 0 0 10px #5897fb;
}

.cat-info {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.cat-info img {
  max-width: 500px;
  min-height: 500px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.cat-info .cat-data {
  max-width: 500px;
  padding: 20px;
  margin-left: 20px;
  line-height: 1.5;
  box-shadow: 0 0 5px 0 rgba(63, 81, 181, 0.3);
}

.cat-info p {
  font-size: 20px;
  margin-bottom: 10px;
}
